* {
    margin: 0 auto;
}
.reset{
    text-align: center;
    position: fixed;
    left: 47%;
    color:white;
    border: 3px solid white;
    background: transparent;
    width: 40px;
}
.wall{
    background-image: url(11-trump.png);
    height: 300px;
    width: 330px;
    margin: 0 auto;
    background-size:cover;
    padding: 50px 0px;


}
body {
    background-image: url(pawel-czerwinski-O5uri6kQHQQ-unsplash.jpg);
    background-color: #cccccc;
    background-size: cover;
    height: 700px;
    
   }
h4{
    max-width:100%;
    max-height: 100px;
}
.question {
    text-align: center;
    background-color:rgba(189,0,33,.5);
    color: white;
    font-size:18px;
    padding: 10px;
    position:fixed;
    width: 100%;
    margin-top: 2%;
    font-family:'Josefin Slab', serif;

}
.big{
    font-style: italic;;
}

h1 {
    text-align: center;
    color: white;
}

header {
    background: rgba(57,90,165,.5);
    /* position: relative; */
    width: 100%;
    font-family: 'Fredericka the Great', cursive;
    position:relative;
}

.btn {
    height: 30%;
    width: 30%;
    background: transparent;
    border: 3px solid white;
    font-size:20px;
    height: 50px;
    position:fixed;
    left: 35%;
    margin-top:50px;
    color: white;
    z-index: 1;
}

.list {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-decoration: none;
    text-align: center;
    padding:0;
    font-family:'Josefin Slab', serif
}
.tremendous{
    margin: 0 auto;
    text-align: center;
    padding-top: 40px;
    font-family:'Fredericka the Great', cursive;
    font-size: 300%;
    color: rgb(189,0,33)
}
.choices {
    list-style: none;
    padding: 10px;
    color: white;
    font-size:20px;
    background-color: rgba(57,90,165,.5);

}
.choices:hover {
    background-color: rgba(57,90,165,.8);
    /* border-radius:10px; */
  }
.hidden {
    display:none
}
.score{
    position: absolute;
    right: 2px;
    top: 3px;
    height:30px;
    width:30px;
    color: white;
}
.quote{
    text-align: center;
    margin-bottom: 20px;
    color:rgb(39, 62, 114);
    padding-top: 5px;
    font-size:30px;
    background-color: rgba(255, 255, 255, 0.673);
    font-family:'Josefin Slab', serif
}
.animation{
    background-image: url(4-trump.png);
    height: 121px;
    width: 80px;
    background-size: cover;
    animation: move 5s ease-out;
    animation-iteration-count: 1;
    position: fixed;
    left:12%;
    z-index: 1;
    top:200px;
}
.animation2{
    background-image: url(19-trump.png);
    height: 160px;
    width: 100px;
    background-size: cover;
    animation: grow 3s ease-in;
    animation-iteration-count: 1;
    position: fixed;
    left:12%;
    z-index: 1;
    bottom:10%;
}
@keyframes move{
    from {
        margin-left: 100%;
        transform:rotate(0deg)
    }

    to {
        margin-left: 0%;
        transform:rotate(360deg);
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.faded{
    animation: fadein 4s;
    animation-iteration-count: initial;
}
@keyframes grow{
    from{
        height:160px;
        width:100;
    }
    50%{
        height:360px;
        width: 230px;
    }
    to{
        height:160px;
        width: 100px;
    }
}

@keyframes movedown{
    from{ 
        margin-top: 0px
    }
    to {
        margin-bottom: 100px
}
}
@keyframes blinking{
    0%{     color: rgb(189,0,33) ;    }
    49%{    color: transparent; }
    50%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: rgb(189,0,33) }
}
.animatequote{
    animation: blinking 1s infinite;
}